@media only screen and (max-width: 975px) {
  section {
    margin: 2rem 0.5rem;
    display: flex;
    align-content: center;
  }

  .desktop-teaser {
    display: none;
  }

  .mobile-teaser {
    display: block;
    height: 20rem;
  }

  .mobile-teaser img {
    object-fit: cover;
    height: 100%;
  }

  .header-box {
    background: none;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 100%;
    right: 0;
    padding: 0;
    margin-top: 2rem;
  }

  .header-box h1 {
    margin: 0;
  }

  .header-box h2 {
    display: none;
  }

  .icons {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  .icon-circle img {
    margin: 0;
  }

  .icon-circle {
    margin: 0;
    justify-content: center;
  }

  #icon-container h3 {
    text-align: center;
    margin-top: 1rem;
  }

  #icon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.75rem;
    font-weight: 300;
  }
  #icon-container p {
    display: none;
  }

  h2 {
    text-align: center;
    margin: 0 1rem;
    font-size: 18px;
  }

  .cards-container {
    flex-wrap: wrap;
  }

  .slider {
    padding: 3rem 0;
    margin-bottom: 4rem;
  }

  .desktop-image {
    display: none;
  }

  .mobile-image {
    display: block;
    margin: 0 auto;
  }

  .how-to-middle {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
  }

  .how-to-list {
    width: 100%;
    margin-top: 1rem;
    align-content: left;
    color: gray;
  }

  footer {
    flex-direction: column;
    width: 100%;
    align-content: left;
    margin: 0 0 3rem 0;
  }

  .footer-grid {
    display: flex;
    flex-direction: column;
  }

  .footer-column {
    margin-left: 1rem;
  }

  footer h2 {
    margin-top: 2rem;
    display: unset;
    text-align: left;
  }
}
